.body {
  margin: 0;
}

.header {
  background: #3030C1;
  padding: 60px 130px;
}

.logo {
  background: no-repeat url('img/Logo.svg');
  padding: 30px 0;
}

.section {
  background: #3030C1;
  padding-bottom: 68px;
}

.section_main {
  padding: 62px 38% 190px 130px;
  background: top right no-repeat url('img/img.svg');
  margin-right: 125px;
}

.main_title {
  font: bold 45px/55px 'gilroyblack', arial, helvetica, sans-serif;
  color: #ffffff;
  margin: 0;
}

.main_subtitle {
  font: bold 30px/37px 'gilroyblack', arial, helvetica, sans-serif;
  color: #ffcc33;
  margin: 0;
  padding: 32px 230px 10px 0;
}

.main_text {
  font: 20px/23px 'ultralight', arial, helvetica, sans-serif;
  color: #ffffff;
  margin: 0;
  padding-bottom: 45px;
}

.main_button {
  padding: 14px 33px;
  background: #ffcc33;
  text-decoration: none;
  color: #3030c1;
  font: bold 20px/24px 'montserrat', arial, helvetica, sans-serif;
}

.content_title {
  display: flex;
  justify-content: center;
  font: bold 40px/49px 'gilroyblack', arial, helvetica, sans-serif;
  margin: 0;
  padding-top: 55px;
  padding-bottom: 10px;
}

.img {
  display: flex;
  justify-content: center;
  padding: 0 130px;
}

.image {
  width: 398px;
  height: 449px;
}

.content_sutitle {
  display: flex;
  justify-content: center;
  font: bold 40px/49px 'gilroyblack', arial, helvetica, sans-serif;
  margin: 0;
  padding-top: 23px;
}

.content_text {
  display: flex;
  text-align: center;
  font: 30px/35px 'ultralight', arial, helvetica, sans-serif;
  padding: 30px 210px 55px 210px;
  margin: 0;
}

.aside {
  background: #f0fbff;
  padding-bottom: 70px;
}

.aside_title {
  display: flex;
  justify-content: center;
  font: bold 40px/49px 'gilroyblack', arial, helvetica, sans-serif;
  margin: 0;
  padding: 73px 0 50px 0;
}

.row {
  width: 380px;
  height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
  left: 530px;
  font: 20px/23px 'ultralight', arial, helvetica, sans-serif;
  color: #878787;
}

.row__additional {
  width: 380px;
  height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 67px;
  position: relative;
  left: 530px;
  font: 20px/23px 'ultralight', arial, helvetica, sans-serif;
  color: #878787;
}

.aside_button {
  padding: 28px 115px;
  background: #ffda45;
  font: bold 20px/24px 'montserrat', arial, helvetica, sans-serif;
  text-decoration: none;
  color: #000000;
}

.aside_content {
  display: flex;
  justify-content: center;
}

.footer_text {
  padding: 51px 130px;
  background: #00008b;
  color: #ffffff;
  margin: 0;
}
