.body {
  margin: 0;
}

.header {
  background: #3030C1;
  padding: 60px 130px;
}

.logo {
  background: no-repeat url('img/Logo.svg');
  padding: 30px 0;
}

.section {
  background: #3030C1;
  padding-bottom: 70px;
}

.section_main {
  padding: 62px 41% 190px 135px;
  background: top right no-repeat url('img/img.svg');
  margin-right: 125px;
}

.main_title {
  font: 45px/55px 'gilroyblack', arial, helvetica, sans-serif;
  color: #ffffff;
  margin: 0;
}

.main_subtitle {
  font: 30px/37px 'gilroyblack', arial, helvetica, sans-serif;
  color: #ffcc33;
  margin: 0;
  padding: 32px 230px 10px 0;
}

.main_text {
  font: 20px/23px 'ultralight', arial, helvetica, sans-serif;
  color: #ffffff;
  margin: 0;
  padding-bottom: 47px;
}

.main_button {
  padding: 15px 23px;
  background: #ffcc33;
  text-decoration: none;
  color: #3030c1;
  font: bold 20px/24px 'montserrat', arial, helvetica, sans-serif;
}

.content_title {
  display: flex;
  justify-content: center;
  font: bold 40px/49px 'gilroyblack', arial, helvetica, sans-serif;
  margin: 0;
  padding-top: 50px;
}

.img {
  display: flex;
  justify-content: center;
  padding: 0 130px;
}

.content_sutitle {
  display: flex;
  justify-content: center;
  font: bold 40px/49px 'gilroyblack', arial, helvetica, sans-serif;
  margin: 0;
  padding-top: 23px;
}

.content_text {
  display: flex;
  text-align: center;
  font: 30px/35px 'ultralight', arial, helvetica, sans-serif;
  padding: 30px 210px 0 210px;
  margin: 0;
}
